<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %><br>
    <div class="container">
        <div class="card">
            <div class="card-header"><h3><%= question.title %> </h3></div>
            <div class="card-body"><%= question.description %> </div>
            <div class="card-footer">
                <h4>Latest from users...</h4><hr>
                <% answrs.forEach(function(p) { %>
                    <%= p.description  %> <br><hr>
             <% }) %>

                <h4>Answer here:</h4>
               <form method="POST" action="/sendanswer">
                <textarea name="answerDescription" id="" cols="30" rows="05" class="form-control" placeholder='type your answer here...'></textarea><br>
                <input type="hidden" name="questionId" value="<%= question.id %> ">
                <button class="btn btn-success">Send Answer</button>
            </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>
